header{
    width: 100%;
    position: absolute;
}

nav{
    width: 80%;
    display: flex;
    font-weight: 200;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: #ffffff;
    padding: 1.7rem 0px;
    user-select: none;
}
/* .nav-right{
    display: flex;
    justify-content: space-between;
} */
nav .nav-element{
    color: #ffffff;
    padding-bottom: 1rem;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 0px 0.2rem;
    display: flex;
    align-items: center;
    gap: 5px;

}
 nav .nav-element a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
 }
 nav .nav-right{
    display: flex;

 }
 nav .nav-right .nav-element a{
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 0.8rem;
 }