.options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 10rem;
}
.option {
  width: 100%;
  flex: 1;
  height: 24rem;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option:hover {
  transform: scale(1.05); /* Increase size by 10% on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a deeper shadow */
}
.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid rgb(232, 232, 232);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}
.title {
  align-items: left;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.2rem;
}
.description {
  color: rgb(79, 79, 79);
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  margin: 0px;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 800px) {
  .options {
    flex-wrap: wrap;
    transition: transform 0.3s ease;
  }
  .option {
    max-width: 46.8%;
    gap: 1rem;
    flex: auto;
    height: 20rem;
  }
  .option:hover {
    transform: scale(1.05); /* Increase size by 10% on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a deeper shadow */
  }
  .info-title {
    font-size: 1.4rem;
    line-height: 1.2rem;
  }
  .info-description {
    font-size: 1.2rem;
    font-weight: 200;
  }
}
